html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('imgs/fondo.png');
    background-size: cover;
    color: white;
    padding-top: 5rem;
}

header {
    background-color: rgb(0, 0, 0, 0.4);
    text-align: justify;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    top: 0;
    left: 0;
    position: fixed;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}

header ul {
    overflow: hidden;
    padding: 2rem;
    text-align: center;
    margin: 0;
    list-style: none;
}

header ul li {
    display: inline;
    padding: 1rem;
}

header ul li a {
    transition:  background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
}

header ul li a:hover {
    background-color: #333;
    color: white;
    border-radius: 1rem;
}

#menu-repo {
    padding: 0 3rem;
    padding-top: 1.5rem;
}

#menu-repo a {
    text-decoration: none;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
}

#menu-repo svg {
    padding: 0 1rem;
    transition: transform 0.3s ease, fill 0.3s;
    fill: #fff;
    stroke: #fff;
}

#menu-repo svg:hover {
    transform: rotate(360deg);
    fill: rgb(156, 3, 138);
    stroke: rgb(156, 3, 138);
}

#bienvenida {
    font-size: 3rem;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    color: rgb(156, 3, 138);
}

#bienvenida p {
    color: lightgray;
}

section {
    margin: 6rem;
    height: auto;
}

section h1 {
    font-size: 2.5rem;
    margin: 3rem 6rem;  
    padding: 2rem;
}

#integrantes article {
    text-align: justify;
    color: #fff;
    font-size: 1rem;
    margin: 0 auto;
    width: 60%;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 1rem;
    box-shadow: -0.3rem 0.3rem 2rem rgb(156, 3, 138);
}

.contenido {
    display: flex;
    flex-direction: row; 
}

.contenido p {
    padding: 0 2rem;
}

.contenido img {
    border-radius: 100%;
}

.socials {
    padding-top: 1rem;
}

.socials a {
    height: 25px;
    border-radius: 100%;
    padding: 0 1rem 1rem 0;
}

.socials img {
    padding: 0.7rem 0;
    transition: transform 0.3s ease;
}

.socials img:hover {
    transform: scale(1.2);
}



#practicas article {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

#practicas p {
    text-align: justify;
    padding-bottom: 1rem;
}

#practicas a{
    text-decoration: none;
    color: white;
    border: 1px solid;
    padding: 10px;
    border-radius: 1rem;
    transition: background-color 0.3s;
    background-color: rgba(65, 64, 64, 0.5);
    
}

#practicas a:hover{         
    background-color: rgb(0, 0, 0, 0.5);
    color:rgb(156, 3, 138);
}

footer {
    text-align: center;
    padding: 1rem;
    color: darkgray;
}
